<div class="form_for">
<%= form_for  @blog, html: {class: 'formfor'} do |f| %>
    <p><%= f.label :タイトル, style: 'font-size: 14px; color: black;' %></p>
    <div><%= f.text_field :title, placeholder: 'タイトル入力してください' %></div>
    <p><%= f.label :本文, style: 'font-size: 14px; color: black;' %></p>
    <div><%= f.text_area :text, placeholder: '本文を入力してください', style: 'height: 300px;' %></div>
    <a class="waves-effect waves-light btn"><%= f.submit  '投稿する' %></a>
</div>


<% end %>


